.wrap {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: flex-start;
  background: #f5db13;
  width: 100%;
  transform: translateY(-500px);
  transition: transform 0.3s ease;
  z-index: 5;
  padding-top: 20px;
}

.list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  flex-direction: column;
}

.item {
  border-bottom: 3px solid transparent;

  &:hover,
  &:active {
    background: #f2b807;
  }
}

.link {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 19px;
}
