.wrap {
  width: 657px;
  display: flex;
  align-items: center;
}

.list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.item {
  padding-bottom: 15px;
  border-bottom: 3px solid transparent;

  &:hover {
    border-color: #212121;
  }
}

.link {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
}

.toggle {
  display: none;
  height: 22px;
  width: 30px;
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 100%;
  }

  .link {
    font-size: 19px;
    padding: 0 5px;
  }
}

@media screen and (max-width: 375px) {
  .wrap {
    justify-content: flex-end;
  }

  .list {
    display: none;
  }

  .toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      width: 100%;
      background: #212121;
      border-radius: 2px;
      height: 5px;
    }
  }
}
