.root {
  width: 33.33%;
  padding: 0 15px;
  filter: drop-shadow(4px 4px 4px rgba(33, 33, 33, 0.1));
  margin-bottom: 45px;
  height: 137px;
  overflow: hidden;
}

.wrap {
  background: #f6f7f9;
  display: flex;
  justify-content: space-between;
  height: 100%;
  border-radius: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-left: 26px;
}

.name {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
  color: #212121;
  text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
}

.stats {
  display: flex;
  margin-bottom: 10px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:not(:last-of-type) {
    margin-right: 13px;
  }
}

.stat_value {
  border: 3px solid #212121;
  border-radius: 100%;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 6px;
}

.stat_title {
  font-size: 12px;
  color: #4b4b4b;
}

.types {
  display: flex;
}

.type {
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  padding: 3px 0;
  width: 60px;
  text-align: center;
  font-size: 12px;
  color: #212121;

  &:not(:last-of-type) {
    margin-right: 13px;
  }
}

.dark,
.rock {
  background: #a1a1a1;
}

.grass,
.bug {
  background: #70a83b;
}

.ice,
.water,
.flying {
  background: #a2cff0;
}

.fire,
.fighting,
.dragon {
  background: #f76545;
}

.normal,
.gosth {
  background: #76aadb;
}

.poison,
.psychic,
.fairy,
.ghost {
  background: #a974bc;
}

.ground {
  background: #9b897b;
}

.electric {
  background: #f7c545;
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  position: absolute;
  top: -15%;
  right: 0;
  z-index: 0;
}

.img {
  width: 80%;
}
