.logo {
  display: block;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 121px;
    margin-right: 60px;
  }
}

@media screen and (max-width: 375px) {
  .logo {
    width: 58px;
    margin-right: 60px;
  }
}
