.root {
  display: inline-block;
}
svg {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .root {
    width: 121px;
    margin-right: 60px;
  }
}

@media screen and (max-width: 375px) {
  .root {
    width: 58px;
    margin-right: 60px;
  }
}
