.root {
  height: 93px;
  background: rgba(245, 219, 19, 1);
  box-shadow: 0 4px 16px rgba(1, 28, 64, 0.2);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 10;
  position: relative;
}

.wrap {
  max-width: 1145px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .root {
    height: 56px;
  }
}
