.root {
  max-width: 1145px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  flex-shrink: 0;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
}

.make,
.link {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .root {
    padding: 0 20px;
    width: 100%;
  }

  .make {
    font-weight: normal;
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .wrap {
    flex-direction: column-reverse;
    margin-bottom: 16px;
  }
  .link {
    margin-bottom: 5px;
  }
}
